.ics-scbanner.isfixed {
	background-color: #ed1b23 !important;
	color: white !important;
}

a {
	color: #828282 !important;
	font-family: Tahoma !important;
}

body {
	font-family: Tahoma !important;
}

body.lotusui:before {
    background-image: url(https://app.kpaunicon.com/content/background-banner.jpg);
	background-size: 100% 105px;
	display: inline-block;
	width: 100%; 
    height: 105px;
    content:"";
}

.lotusWidget2 {
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.26), 0 0 0 1px rgba(0,0,0,0.04) !important;
}

.lotusTabs li.lotusSelected {
	border-bottom: 4px solid #ed1b23 !important;
}

.lotusMenu li.lotusSelected {
	border-left: 4px solid #ed1b23 !important;
}

.lotusTabContainer {
	border-bottom: 1px solid #ed1b23 !important;
}

.lotusMain span.lotusBtn a {
    box-shadow: 0 0 0 1px #ed1b23 inset !important;
}

.lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper .lotusPaging {
	background: #ed1b23 !important;
}

.lotusStream #activityStreamMain.lotusWidgetBody .stream-finLeft, .lotusStream #activityStreamMain.lotusWidgetBody .stream-finRight {
	background: #ed1b23 !important;
}

.lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper.isSticky .streamHeaderInner {
	background: #ed1b23 !important;
}

.streamHeaderWrapper a {
    color: white !important;
}

.streamHeaderWrapper .otherActivityStream14-asKnockedfin14 {
	width: 10px !important;
	background-position: 0 -50px !important;
}

.streamHeaderWrapper .lotusActions a {
    color: black !important;
}
